@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 1rem;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: max-content;
  gap: 2rem;
  align-items: end;
  list-style: none;
  text-decoration: none;
}
a {
  color: #fff;
  text-decoration: none;
}

i {
  font-style: normal;
  color: #fff;
  padding-right: 0.5rem;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
}

.section-blue {
  background-color: rgb(30, 147, 204);
}
.top {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0 7rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}
.content p {
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

button {
  padding: 1rem;
  background-color: rgb(233, 144, 2);
  border: 2px solid #fff;
  border-radius: 0.7rem;
  color: #fff;
  font-size: large;
}

.division {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(40, 40, 40);
}
.information {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
  color: #fff;
  font-weight: lighter;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.sponsors {
  background-color: rgb(238, 238, 238);
}

.sponsors img {
  width: 100%;
}

@media (max-width: 500px) {
  .sponsors img {
    display: none;
  }
}

.buttons {
  height: 12rem;
  padding-right: 4rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.blue {
  background-color: rgb(22, 88, 130);
  padding: 1rem 3rem;
}

button.orange {
  background-color: rgb(233, 144, 2);
  padding: 1rem 3rem;
}

footer {
  padding: 2rem;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  font-size: 0.7rem;
}

.chat-bubble {
  position: fixed;
  background-color: #165781;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 92%;
  bottom: 13%;
}

.chat-bubble img{
    position:absolute;
    left: 10px;
    bottom: 10px;
}
